* {
  box-sizing: border-box;
}
body {
  min-height: 120%;
}

section.main {
  padding: 10vw 0;
  max-width: 85%;
  margin: 0 auto;
  color: #382933;
}

form {
  margin: 2rem 0;
}

a {
  color: inherit;
}

a.log {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}

.navigation-items {
  margin: 0 2vw;
}

#search-by {
  max-width: 10vw;
  font-size: .75rem;
}

.custom {
  border: 2px solid #ffc93c;
}

.drinkThumb {
  max-width: 100px;
}

#drink-details {
  margin: 0 auto;
  max-width: 90%;
}

.drink-name {
  text-align: center;
}

#create-new-cocktail{
    display: table;
    margin: 1vh 0 1vh auto;
}

#add-drink-form {
  display: contents;
}

#delete-fav-drink-form {
  display: contents;
}

#edit-fav-drink {
  display: block;
}

.user-avatar {
  max-width: 65px;
}

#comments {
  padding: 0 10vh;
  max-width: 80%;
  margin: 0 auto;
  /* color: #382933; */
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  /* position: fixed; */
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #382933;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}
